#default-carousel {
    margin-left: -320px !important;
}

#images-carousel {
    height: 500px !important;
}

#images-carousel > div > img {
    height: 500px !important;
}

#slider-buttons {
    margin-top: -80px !important;
    padding: 20px;
}

#aplicaciones {
    margin-top: -100px !important;
}
